@charset "utf-8";
h1 {
    /* color:red; */
    color: rgb(255,100,50, 0.5);
    /* r と　g と　bを使うと最後に４つ目の値を入れると透明度をいじれる */
    font-size:60px;
}

h2 {
    color: blue;

}

h3, 
h4, 
h5 {
    font-size: 40px;
    color: #984292

}

